.dashboard {
  padding: 1.5rem 5rem;
  min-height: 100vh;
  @media screen and (max-width: $medium) {
    padding: 1rem 1.5rem;
  }

  .socialIntro {
    background-color: $mbgcolor;
    border-radius: 15px;
    padding: 1.25rem;
    height: 100%;
    padding-bottom: 0;
    .socialChannels {
      padding: 10px 0px;
      .channel {
        border: 0.5px solid #e3e3e3;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
      }
    }
    .addChannel {
      padding: 1rem 10px;
      display: flex;
      font-size: 0.875rem;
      color: rgba(40, 100, 255, 1);
      align-items: center;
    }
    .social_bottom {
      background-color: rgba(40, 100, 255, 1);

      color: $mbgcolor;
      display: flex;
      padding: 1rem;
      justify-content: space-between;
      font-size: 0.75rem;
      margin: 0px -1.25rem;
      line-height: 1rem;
      @media screen and (max-width: 1300px) {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
  }
  .dashpost {
    background-color: $mbgcolor;
    border-radius: 15px;
    padding: 1.5rem 2rem;
    input {
      outline: none;
      border: none;
      font-size: larger;
      padding-bottom: 3rem;
    }
    .postOptions {
      display: flex;
      flex-direction: column;
      .row {
        display: flex;
        padding: 5px;
        flex-wrap: wrap;
        .option {
          display: flex;
          width: 33%;
          padding: 0px 0.5rem;
          @media screen and (max-width: $small) {
            padding: 5px 0.5rem;
            width: 50%;
          }
          p {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .toolbox,
  .teaminfo {
    margin-top: 1rem;
    background-color: $blueBg;
    border-radius: 15px;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .top {
      display: flex;
      color: $mbgcolor;
      justify-content: space-between;
    }
    .middle {
      color: rgba($mbgcolor, 0.5);
    }
    .bottom {
      display: flex;
      padding-top: 1rem;

      .data {
        display: flex;
        padding: 1.2rem;
        min-height: 2rem;
        flex-direction: column;
        background-color: $mbgcolor;
        align-items: center;
        border-radius: 10px;
        justify-content: center;
        p {
          font-size: 12px;
        }
      }
    }
  }
  .boncblog {
    background-color: $mbgcolor;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top {
      display: flex;
      justify-content: space-between;
    }
    .bottom {
      .blog {
        padding: 0.5rem 0rem;

        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .img {
          flex: 0.4;
          max-width: 300px;
          object-fit: contain;
          padding-right: 1rem;
          .blogImg {
            width: 100%;
          }
        }
        .blogDesc {
          flex: 0.6;
        }
      }
    }
  }
  .boncshop {
    padding: 1.5rem 2rem;
    background-color: $mbgcolor;
    border-radius: 10px;
    height: 100%;
    .top {
      display: flex;
      justify-content: space-between;
    }
    .bottom {
      .t_post {
        margin: 0.5rem 0rem;
        letter-spacing: -0.3px;
        font-size: 1.2rem;
      }
    }
  }
  .todaypost {
    padding: 1.5rem 2rem;
    background-color: $mbgcolor;
    border-radius: 10px;

    height: 100%;
  }
}
