.h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.h2 {
  font-size: 1.25rem;
}
.MuiButton-root {
  text-transform: none !important;
  border-radius: 20px !important;
}
.bold_h2 {
  font-weight: 700;
  font-size: 1.5rem;
}
.head2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
}
.linkHead {
  color: rgba(40, 100, 255, 1);
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.ml-2 {
  margin-left: 20px;
}
.ml-1 {
  margin-left: 10px;
}
h3 {
  font-weight: 600;
}
.n_para {
  line-height: 1.25;
}
.s_para {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(128, 128, 128, 1);
}
.t_post {
  font-size: 1.25rem;
}
